1) Git
    - создаём репозиторий
    - создаём файл .gitignore
    - инициализируем git (git init)
2) Webpack
    - imports/exports
    - babel
    - Scss
    - Eslint
    - 2 modes:
        1) Dev: Dev Server, SourceMaps, Eslint, Not minified js/css
        2) Prod: minified Code